.MuiFilledInput-input {
  font: initial;
  font-size: 25px !important;
  font-weight: 600 !important;
}

input::-webkit-inner-spin-button {
  appearance: none;
}


.css-1x51dt5-MuiInputBase-input-MuiInput-input {
  padding: 0 !important
}